@use '../abstracts/' as *;

.figure-group {
  margin-top: 2rem;
  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 1rem;
  @include mq($medium) {
    gap: 1.25rem 5rem;
  }
}
