@use '../abstracts/' as *;

.select-group {
  display: none;
  align-items: center;
  margin-top: 0.5rem;

  label {
    color: $color-base-900;
    font-size: 1.125rem;
    margin-right: 1rem;
    font-weight: 700;
  }

  .select {
    color: $color-base-100;
    position: relative;
    font-weight: 700;

    button {
      background-color: inherit;
      border: none;
      color: inherit;
      padding: 1rem;
      border-radius: 0.25rem;
      background-color: $color-primary-400;
      width: 145px;
      text-align: left;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
    }

    .btn::after,
    li:first-of-type button::after {
      content: url('../img/expand-more.svg');
      display: block;
      width: 16px;
      height: 11px;
    }

    li:first-of-type button::after {
      transform: rotate(180deg);
      transform-origin: bottom;
    }

    ul {
      position: absolute;
      top: 0;
      z-index: 1;
      display: none;
      background-color: $color-primary-400;
      border-radius: 0.25rem;
      width: 145px;
    }

    ul.open {
      display: block;
    }

    li {
      cursor: pointer;

      &:first-of-type {
        padding-top: 0;
      }

      &:nth-child(2) {
        border-top: 1px solid $color-base-100;
        border-bottom: 1px solid $color-base-100;
      }
    }
  }

  @include mq($medium) {
    display: flex;
  }
}
